<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="japanese-food.png" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Menu</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="relative ml-3">
              <div>
                <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <a routerLink="/login" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Log out</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Bistro Bliss</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    </div>
  </main>
</div>
<div class="main">
  <div class="left">
    <form class="row g-3 needs-validation" novalidate (submit)="sendData($event)">
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Product Title</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required name="title">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Price</label>
        <input type="text" class="form-control" id="validationCustom02" value="" required name="price">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Category</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required name="category">
          <div class="invalid-feedback">
            Can Not Be Empty
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Info</label>
        <input type="text" class="form-control" id="validationCustom03" required name="info">
        <div class="invalid-feedback">
          Can Not Be Empty
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Image</label>
        <input type="file" class="form-control" id="validationCustom03" required name="info" name="productImage">
        <div class="invalid-feedback">
          Can Not Be Empty
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit" style="background-color: rgb(79, 70, 229);">Add To Menu</button>
      </div>
    </form>
  </div>
  <div class="right" >
    @for (product of productsArray; track $index) {
    <div class="lg:flex lg:items-center lg:justify-between" style="gap: 25px;" >
      <div>
        <img [src]="product.productImage" alt="" class="proimg">
      </div>
      <div class="min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">{{product.title}}</h2>
        <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
          <div class="mt-2 flex items-center text-sm text-gray-500">
            {{product.price}}
          </div>
          <div class="mt-2 flex items-center text-sm text-gray-500">
            {{product.category}}
          </div>
        </div>
      </div>
      <div class="mt-5 flex lg:ml-4 lg:mt-0">
        <span class="hidden sm:block">
          <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="buttonnn" (click)="showForm(product)">
            Edit
          </button>
        </span>
        <span class="ml-3 hidden sm:block" >
          <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" (click)="deleteProduct(product._id)">
            Delete
          </button>
        </span>
      </div>
    </div>
  }
</div>
<div class="popup" [style.display]="formDisplay">
  <!-- (click)="updateDate(newData._id, newData)" -->
  <form class="row g-3 needs-validation" novalidate >
    <img src="OIP.jpeg" alt="" class="close" (click)="showForm()">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Product Title</label>
      <input type="text" class="form-control" id="validationCustom01" [value]="currentItem.title" required name="title">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Price</label>
      <input type="text" class="form-control" id="validationCustom02" [value]="currentItem.price" required name="price">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Category</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required name="category" [value]="currentItem.category">
        <div class="invalid-feedback">
          Can Not Be Empty
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Info</label>
      <input type="text" class="form-control" id="validationCustom03" required name="info" [value]="currentItem.info">
      <div class="invalid-feedback">
        Can Not Be Empty
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Image</label>
      <!-- [value]="currentItem.productImage.slice(currentItem.productImage.indexof('\\') + 1)" -->
      <input type="file" class="form-control" id="validationCustom03" required name="info" name="productImage" >
      <div class="invalid-feedback">
        Can Not Be Empty
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" style="background-color: rgb(79, 70, 229);" >Edit</button>
    </div>
  </form>
</div>

</div>



